* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 1em/1.5 'Oxanium', cursive;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    font-family: Arial;
    color: #e33030;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

h2 {
    display: inline-block;
    margin: 0.5rem 0;
    border-bottom: 3px solid;
}

a:link {
    color: #c4442d;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid;
}

.wrap {
    width: 90%;
    margin: 1rem auto;
    border: 3px solid #162a36;
    color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 20px -8px rgba(0,0,0,0.4);
}

.bg {
    background-color: #162a36;
    padding: 1rem;
    border-left: 8px solid #c4442d;
    border-radius: 0.3em;
    margin-bottom: 1rem;
    box-shadow: 0 8px 10px 0px rgba(0,0,0,0.8);
}

.bg:hover {
    
}
